.benefits {
	color: $white;
	background: linear-gradient(90deg, #0ab430 0%, #93be01 100%);
	position: relative;
svg{
	max-width: 90%;
    margin: auto;
    display: block;
}
	&::before {
		content: '';
		position: absolute;
		background-image: url('../images/top-border.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 33px;
		width: 100%;
		top: -0.1%;
		left: 0;
		@media (max-width: 500px) {
			background-size: cover;
		}
	}

	&::after {
		content: '';
		position: absolute;
		background-image: url('../images/bottom-border.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 52px;
		bottom: -0.1%;
		@media (max-width: 500px) {
			background-size: cover;
		}
	}

	svg {
		@media (max-width: 500px) {
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		padding-top: 4.6875rem;
		margin-bottom: 0.3125rem;

		@media (max-width: 500px) {
			font-size: 2.025rem;
			line-height: 2.3125rem;
		}
	}

	&__subtitle {
		@include ubuntu;
		font-size: 1.5rem;
		line-height: 1.8;
		margin-bottom: 1.875rem;
	
		@media (max-width: 500px) {
			font-size: 1.375rem;
			line-height: 2.25rem;
		}

		span {
			background: $white;
			border-radius: 10px;
			padding: 0.2rem;
			@media (max-width: 980px) {
				border-radius: 0;
				padding: 2px 5px
			}
		}
	}

	&__wrapper {
		background-image: url('../images/benefits/table-bg.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;

		overflow: hidden;
		padding: 3.5rem;
		@media (max-width: 1100px) {
			background: #fff;
			padding: 1rem;
			margin-bottom: 2em;
			width: 115%;
			left: -7.5%;
			position: relative;
			overflow: auto!important;
		}
		@media (max-width: 500px) {
			overflow: auto;
			// background-size: cover;
		}
	}

	&__table {
		color: $orange;
		margin: 0 auto 3.125rem;

		thead tr td:first-child {
			background: none;
		}

		td {
			background-image: url("data:image/svg+xml,%3csvg width='105%25' height='105%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='105%25' height='105%25' fill='none' stroke='%23FF7100FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
		}

		thead tr:first-child td,
		thead tr:first-child th {
			border: none;
		}

		tbody tr td:first-child {
			border-left: none;
		}

		tbody tr td:last-child {
			border-right: none;
		}

		tr span {
			display: block;
			padding-bottom: 0.5rem;
		}

		tr th {
			padding: 1.2rem;

			&:last-child {
				padding-right: 3rem;
			}
		}

		tr > td {
			text-align: center;
			font-weight: bold;
			font-size: 1.25rem;
			line-height: 2rem;

			vertical-align: middle;
			@media (max-width: 1100px) {
				font-size: 0.875rem;
				line-height: 1.5125rem;
			}
		}

		tr > td:first-child {
			font-weight: bold;
			padding: 0.9rem 0.5rem 0.9rem 2.3rem;

			text-transform: uppercase;
			text-align: left;
			position: relative;
			z-index: 1;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				background-color: $white;
				z-index: 5;
				width: 2.3rem;
				height: 105%;
			}

			@media (max-width: 500px) {
				padding: 1.25rem 3.75rem 1.25rem 2.5rem;
			}
		}

		tr:last-child > td {
			background-image: url("data:image/svg+xml,%3csvg width='105%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='105%25' height='100%25' fill='none' stroke='%23FF7100FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
		}

		tr > td:last-child {
			position: relative;
			z-index: 1;
			padding-right: 1rem;

			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: -5%;
				background-color: $white;
				z-index: 5;
				width: 2.3rem;
				height: 105%;
			}
		}

		th {
			color: $red;
			font-weight: bold;
			font-size: 1.125rem;
			line-height: 1.25rem;
			text-transform: uppercase;

			@media (max-width: 500px) {
				font-size: 0.875rem;
				line-height: 0.9375rem;
			}
		}
	}

	&__info {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 5.625rem;
		gap: 1rem;

		@media (max-width: 500px) {
			flex-direction: column;
		}

		p {
			font-size: 1.75rem;
			line-height: 1.9375rem;
			max-width: 40%;

			@media (max-width: 500px) {
				max-width: 90%;
				text-align: center;
				font-size: 1.4375rem;
				line-height: 1.5625rem;
				margin-bottom: 1rem;
			}
		}

		button {
			font-size: 24px;
			line-height: 26px;
			padding: 0.625rem 3.75rem;
		}
	}
}
