.footer {
	background: linear-gradient(191.34deg, #219d91 14.8%, #247db4 99.12%);
	position: relative;
	// clip-path: polygon(100% 34%, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 20%);
    padding-top: 8rem;
    position: relative;
	z-index: 20;

	&__info {
		@include ubuntu;
		padding: 4.6875rem 0;
		font-size: 0.9375rem;
		line-height: 1.67;

		@media (max-width: 500px) {
			font-size: 0.9375rem;
			line-height: 1.5625rem;
			padding-bottom: 3.4375rem;
		}

		a {
			position: relative;
			overflow: hidden;

			&::after {
				content: '';
				position: absolute;
				width: 0%;
				height: 2px;
				background-color: $white;
				bottom: -2px;
				left: 0;
				transition: all 0.3s;
			}

			&:hover::after {
				width: 100%;
			}
		}
	}
}
