.header {
	padding-top: 1rem;
	background: linear-gradient(90deg, #0ab430 0%, #93be01 100%);
	position: relative;
	padding-bottom: 9rem;
	width: 100%;
	overflow: hidden;
	@media (max-width: 500px) {
		padding-bottom: 12rem;
	}

	&::before {
		content: '';
		position: absolute;
		background-image: url('../images/header/decorations/top-circle.svg');
		background-repeat: no-repeat;
		width: 62px;
		height: 61px;
		left: 37%;
		top: 1rem;

		@media (max-width: 500px) {
			background-image: url('../images/header/decorations/triangle-mobile-1.svg');
			width: 25px;
			height: 27px;
			top: 0;
			left: auto;
			right: 20%;
		}
	}

	&::after {
		content: '';
		position: absolute;
		background-image: url('../images/bottom-border.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 52px;
		bottom: -0.1%;

		@media (max-width: 500px) {
			background-size: cover;
		}
	}

	&__wrapper {
		padding-top: 4.375rem;
		max-width: 95%;
		margin: auto;
	}

	&__rating {
		position: absolute;
		bottom: 5%;
		right: 6%;
		z-index: 50;
	}

	&__row {
		display: flex;

		&--first {
			margin-bottom: 5rem;
			@media (max-width: 1280px) {
				justify-content: space-between;
			}
		}
	}

	&__qr {
		position: relative;
		@media (max-width: 1180px) {
			display: flex;
			flex-direction: column;
			max-width: 50%;
		}
		&::before {
			content: '';
			position: absolute;
			background-image: url('../images/header/decorations/top-little-circle.svg');
			width: 17px;
			height: 17px;
			left: -2.9375rem;
			top: 4rem;
		}

		&::after {
			content: '';
			position: absolute;
			background-image: url('../images/header/decorations/red-triangle-1.svg');
			width: 26px;
			height: 33px;
			bottom: 45%;
			left: 63%;
		}

		img {
			vertical-align: middle;
			margin-right: 0.9375rem;
			position: relative;
			z-index: 10;
			@media (max-width: 1180px) {
				margin-bottom: 1rem;
				max-width: 40%;
			}
		}
		p {
			vertical-align: middle;
			display: inline-block;
			font-size: 2.1875rem;
			line-height: 2.375rem;
			position: relative;
			z-index: 10;

			span {
				display: block;
				font-size: 1.5rem;
				line-height: 1.625rem;
			}
		}
	}

	&__car {
		position: absolute;
		left: 0;
		bottom: -7%;
		user-select: none;
		z-index: 10;

		@media (max-width: 1440px) {
			bottom: -4%;
		}

		@media (max-width: 500px) {
			bottom: 8%;
			left: -30%;
		}

		img {
			width: 120%;
			@media (max-width: 1780px) {
				width: 110%;
			}
			@media (max-width: 1590px) {
				width: 100%;
			}
			@media (max-width: 1440px) {
				width: 98%;
			}
			@media (max-width: 1385px) {
				width: 85%;
			}
			@media (max-width: 1185px) {
				width: 70%;
			}
			@media (max-width: 500px) {
				width: 125%;
			}
		}
	}

	&__app {
		p {
			font-size: 2.125rem;
			line-height: 2.3125rem;
			margin-bottom: 0.625rem;
			span {
				display: block;
				font-size: 1.4375rem;
				line-height: 1.5625rem;
			}
		}
	}

	&__markets {
		display: flex;
		gap: 0.875rem;
		align-items: center;
		justify-content: center;
		margin-bottom: 2.8125rem;
		position: relative;

		&::before {
			@media (max-width: 500px) {
				content: '';
				position: absolute;
				background-image: url('../images/header/decorations/circle-mobile-3.svg');
				width: 17px;
				height: 17px;
				left: 3.2rem;
				bottom: -2.5rem;
			}
		}
	}

	&__cta {
		margin-left: 65%;
		max-width: 26%;
		position: relative;
		z-index: 20;

		@media (max-width: 1440px) {
			max-width: 32%;
			margin-left: auto;
		}
		@media (max-width: 1185px) {
			max-width: 40%;
		}
		@media (max-width: 980px) {
			display: grid;
			place-items: end;
			text-align: right;
		}

		@media (max-width: 500px) {
			max-width: 100%;
			margin-left: 0;
			text-align: center;
		}

		&::before {
			content: '';
			position: absolute;
			background-image: url('../images/header/decorations/red-triangle-3.svg');
			width: 31px;
			height: 33px;
			left: -25%;
			top: -8%;

			@media (max-width: 500px) {
				background-image: url('../images/header/decorations/triangle-mobile-3.svg');
				left: 1rem;
				top: 6rem;
				width: 19px;
				height: 20px;
			}
		}

		&::after {
			content: '';
			position: absolute;
			background-image: url('../images/header/decorations/red-triangle-4.svg');
			width: 42px;
			height: 45px;
			right: -85%;
			top: 0;

			@media (max-width: 1440px) {
				right: -25%;
			}

			@media (max-width: 500px) {
				background-image: url('../images/header/decorations/triangle-mobile-2.svg');
				width: 17px;
				height: 18px;
				right: 3rem;
				top: -1.5rem;
			}
		}

		p {
			max-width: 90%;
			font-size: 2.9375rem;
			line-height: 1.085;
			margin-bottom: 1.0125rem;

			@media (max-width: 500px) {
				max-width: 98%;

				font-size: 1.625rem;
				line-height: 2.125rem;
				margin: 0 auto 100%;
			}
			@media (max-width: 1280px) {
				font-size: 1.85rem;
			}

			&::after {
				content: '';
				position: absolute;
				background-image: url('../images/header/decorations/bottom-circle.svg');
				width: 46px;
				height: 46px;
				right: -50%;
				bottom: -50%;

				@media (max-width: 1440px) {
					right: -10%;
					bottom: -30%;
				}

				@media (max-width: 500px) {
					display: none;
				}
			}
		}
	}

	&__banner {
		margin-left: 15%;
		margin-top: -7rem;
		position: relative;

		@media (max-width: 1440px) {
			margin-left: 5%;
			margin-top: -3rem;
		}
		@media (max-width: 1280px) {
			max-width: 50%;
			margin-left: 0;
		}

		@media (max-width: 980px) {
			margin-bottom: 2.9375rem;
			max-width: 100%;
		}

		&::before {
			content: '';
			position: absolute;
			background-image: url('../images/header/decorations/red-triangle-2.svg');
			width: 45px;
			height: 48px;
			left: -10%;
			top: 70%;

			@media (max-width: 500px) {
				background-image: url('../images/header/decorations/circle-mobile-1.svg');
				width: 10px;
				height: 10px;
				left: -0.5rem;
				top: 4.6rem;
			}
		}

		&::after {
			content: '';
			position: absolute;
			background-image: url('../images/header/decorations/yellow-triangle-1.svg');
			width: 40px;
			height: 44px;
			right: -60%;
			top: 40%;

			@media (max-width: 1440px) {
				right: -20%;
			}

			@media (max-width: 500px) {
				background-image: url('../images/header/decorations/circle-mobile-2.svg');
				width: 12px;
				height: 12px;
				right: 0;
				top: 6.5rem;
			}
		}

		svg {
			width: 120%;
			height: 120%;

			@media (max-width: 1440px) {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__button {
		cursor: pointer;
		max-width: 74%;
		font-size: 1.25rem;
		line-height: 1.3125rem;
		position: relative;
		z-index: 10;

		@media (max-width: 500px) {
			max-width: 67%;
			margin: -5rem auto;
		}

		&::before {
			content: '';
			position: absolute;
			background-image: url('../images/header/decorations/bottom-left-circle.svg');
			width: 29px;
			height: 29px;
			left: -32%;
			bottom: 0%;

			@media (max-width: 500px) {
				display: none;
			}
		}

		&::after {
			content: '';
			position: absolute;
			background-image: url('../images/header/decorations/yellow-triangle-2.svg');
			width: 28px;
			height: 32px;
			left: 20%;
			bottom: -130%;

			@media (max-width: 1440px) {
				bottom: -140%;
			}

			@media (max-width: 500px) {
				bottom: 18rem;
				left: 21rem;
			}
		}
		button {
			max-width: 97%;
			padding: 0.6rem 2rem;

			@media (max-width: 500px) {
				padding: 0.6rem;
			}
		}
	}
}
