.prizes {
	&__wrapper {
		background: $white;
		max-width: 80%;
		margin: 0 auto;
		background-image: url('../images/prizes/prizes-bg.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding: 5rem 0;
		position: relative;
		@media (max-width: 1500px) {
			max-width: 100%;
		}
		@media (max-width: 500px) {
			max-width: 100%;
			background-image: none;
		}

		&::before {
			content: '';
			position: absolute;
			background-image: url('../images/prizes/decorations/prize-red.svg');
			width: 29px;
			height: 30px;
			left: 0;
			bottom: 40%;

			@media (max-width: 500px) {
				bottom: 135%;
			}
		}

		&::after {
			content: '';
			position: absolute;
			background-image: url('../images/prizes/decorations/prize-yellow.svg');
			width: 36px;
			height: 39px;
			right: -20%;
			top: 40%;
		}
	}

	&__title {
		padding: 0 0 1.25rem;

		@media (max-width: 500px) {
			font-size: 2.25rem;
			line-height: 2.4375rem;
		}
	}

	&__image {
		width: 70%;
		position: relative;
		padding-bottom: 35%;
		margin: 0 auto;
		height: 0;
		@media (max-width: 1500px) {
			width: 50%;
			padding-bottom: 26%;
		}
		@media (max-width: 500px) {
			width: 100%;
			padding-bottom: 50%;
		}

		img {
			@include innerImg;
		}
	}

	&__subtitle {
		font-size: 1.125rem;
		line-height: 1.25rem;
		margin-top: 1.25rem;
		padding-bottom: 2.5rem;

		span {
			margin-top: 0.25rem;
			display: block;
		}

		@media (max-width: 500px) {
			font-size: 1.25rem;
			line-height: 1.3125rem;
		}
	}

	&__items {
		display: flex;
		justify-content: center;
		gap: 2.25rem;
		padding-bottom: 3rem;

		@media (max-width: 980px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			place-items: center;
			max-width: 80%;
			margin: auto;
		}
		@media (max-width: 380px) {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		$self: &;
		max-width: 20%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: 980px) {
			max-width: 100%;
			align-items: center;
		}

		&:nth-child(4) {
			#{$self}-image {
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 2.6875rem;
				margin-bottom: 1.5625rem;
			}

			#{$self}-name {
				margin-bottom: -1rem;
			}
		}
	}

	// &__item {
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// 	flex-direction: column;
	// 	gap: .3125rem;
	// }

	// &__item-name {
	// 	max-width: 60%;
	// }
}
