.qr {
	margin-top: 3.125rem;
	margin-bottom: 2.5rem;
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr auto;
max-width: 60%;
margin: auto;
place-items: center;
grid-gap: 1rem;
		@media (max-width: 1100px) {
		max-width: 100%;
		}
		@media (max-width: 780px) {
			grid-template-columns: 100%;
		}
		p {
			// max-width: 40%;
			font-size: 2.3125rem;
			line-height: 2.5rem;

			@media (max-width: 500px) {
				max-width: 100%;
				font-size: 1.6875rem;
				line-height: 1.8125rem;
				text-align: center;
			}
		}

		p span {
			display: inline-block;
			font-size: 2.8125rem;
			line-height: 3.0625rem;

			@media (max-width: 500px) {
				font-size: 1.6875rem;
				line-height: 1.8125rem;
			}
		}
	}

	&__links {
		display: flex;
		align-items: center;
		gap: 0.875rem;
	}
}
