.results {
	background: linear-gradient(90deg, #0ab430 0%, #93be01 100%);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 10rem;
	position: relative;
	clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);
	z-index: 50;

	margin-bottom: -8rem;

	&__title {
		padding-top: 5.375rem;
		margin-bottom: 2.0625rem;
	}
	.slider_content {
		padding: 2rem 4.5rem;
		background: #ffffff;
		box-shadow: 4px 10px 0px #ededed, 2px 7px 38px rgba(0, 0, 0, 0.25);
		border-radius: 40px;

		@media (max-width: 500px) {
			padding: 2rem 0.8125rem 7.5rem;
		}

		&__data {
			background: #f8f9fc;
			box-shadow: inset 7px 4px 15px rgba(0, 0, 0, 0.1);
			border-radius: 30px;
			position: relative;

			.winner {
				&.special {
					font-size: 120%;
					color: #ff7002;
					padding-left: 2rem;
					position: relative;
					&::before {
						content: "";
						position: absolute;
						display: block;
						width: 1.5rem;
						height: 100%;
						left: 0;
						top: 0;
						bottom: 0;
						margin: auto;
						background: url(../images/carIcon.png) no-repeat center;
						background-size: contain;
					}
				}
				&:not(:last-child) {
					margin-bottom: 1.25rem;
				}
			}
		}
		.tabs {
			position: relative;
			display: flex;
			gap: 2rem;
			margin-bottom: 3rem;
			justify-content: center;

			.tab.active {
				box-shadow: 1px 2px 0px #df6300, inset -1px -2px 8px #e76100;
			}

			@media (max-width: 500px) {
				flex-wrap: wrap;
				gap: 1.25rem;
				margin-bottom: 1rem;
			}
		}
		.swiper-wrapper {
			margin-bottom: 3rem;
			padding: 2rem 2.5rem 0;
			display: flex;
		}
		.swiper-slide {
			margin-bottom: 1rem;
			display: block;
			// width: calc(100% / 3) !important;
			height: calc(100% / 7) !important;
		}
		.swiper-pagination-progressbar {
			top: auto !important;
			bottom: 1rem;
			background: rgba(255, 113, 0, 0.3);
			border-radius: 4px;
			width: 92% !important;
			left: 4% !important;

			.swiper-pagination-progressbar-fill {
				background: #ff7100;
				border-radius: 4px;
			}
		}
		.swiper-button-next,
		.swiper-button-prev {
			background: linear-gradient(180deg, #ff9900 -1.89%, #ff7100 100%);
			box-shadow: 1px 2px 0px #df6300, 3px 8px 10px rgba(49, 24, 16, 0.25), inset -1px -2px 8px #e76100;
			border-radius: 10px;
			transform: matrix(-1, 0, 0, 1, 0, 0);
			width: 53px;
			height: 53px;

			@media (max-width: 500px) {
				top: auto !important;
				bottom: -24%;
			}

			&::after {
				content: "";
				background: url(../images/results/arrow.png) no-repeat center;
				background-size: 100%;
				width: 10px;
				height: 32px;
			}
			&.swiper-button-disabled {
				background: transparent;
				background: linear-gradient(0deg, #ffffff, #ffffff);
				box-shadow: none;
				border: 1px solid #ff9900;
				opacity: 1;
				cursor: default;
				&::after {
					background: url(../images/results/arr-orange.png) no-repeat center;
					background-size: 100%;
				}
			}
		}
		.swiper-button-prev {
			left: -4rem;
			@media (max-width: 500px) {
				left: 4rem;
			}
			&::after {
				transform: none !important;
			}
			&.swiper-button-disabled {
				&::after {
					transform: rotateY(180deg) !important;
				}
			}
		}
		.swiper-button-next {
			right: -4rem;
			@media (max-width: 500px) {
				right: 4rem;
			}
			&::after {
				transform: rotateY(180deg) !important;
			}
			&.swiper-button-disabled {
				&::after {
					transform: none !important;
				}
			}
		}

		.swiper-wrapper,
		.swiper-container {
			position: static !important;
		}
		// &_inner {
		// 	padding: 3rem;
		// 	width: 100%;
		// 	height: 0;
		// 	padding-bottom: 50.2%;
		// 	position: relative;
		// 	&::before {
		// 		content: "";
		// 		position: absolute;
		// 		width: 110%;
		// 		height: 110%;
		// 		left: -5%;
		// 		top: -5%;
		// 		background: url("../images/results/slider-bg.svg") no-repeat center;
		// 		background-size: 100% 100%;
		// 	}
		// }
	}
}
