.rules {
	margin-bottom: 3.75rem;
	margin-top: 5.625rem;
	&__title {
		@media (max-width: 500px) {
			font-size: 2.25rem;
			line-height: 2.4375rem;
			margin-top: 2.5rem;
		}
	}

	&__subtitle {
		margin-top: 0.5rem;
		margin-bottom: 3.4375rem;
		font-size: 2.25rem;
		z-index:20;
		position: relative;
		line-height: 2.6875rem;

		@media (max-width: 580px) {
			font-size: 1.375rem;
			line-height: 1.8125rem;
			// max-width: 75%;
			margin: 0.9375rem auto 2.5rem;
		}
	}

	&__place {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 67px;
		height: 67px;
		background: $white;
		border: 2px solid $orange;
		border-radius: 50%;

		position: absolute;
		top: -22%;
		left: 3%;
		font-size: 2.25rem;
		line-height: 2.5rem;

		@media (max-width: 580px) {
			top: -20%;
		}
	}

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2.1875rem;

		@media (max-width: 980px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		position: relative;
		color: $white;
		background-repeat: no-repeat;

		padding: 2rem 1rem;
		@media (max-width: 980px) {
			flex: 50%;
			max-width: 42%;
			padding-top: 3rem;
			&:last-child{
				max-width: 70%;
			}
		}
		p {
			font-size: 2rem;
			line-height: 2.75rem;
			overflow: hidden;

			@media (max-width: 500px) {
				font-size: 1.375rem;
				line-height: 1.875rem;
			}
		}

		&-link {
			position: relative;
			overflow: hidden;
			&::after {
				content: '';
				position: absolute;
				height: 2px;
				width: 100%;
				background-color: $white;
				bottom: -1px;
				left: 0;
				transition: all 0.3s;
			}

			&:hover::after {
				width: 0%;
			}
		}

		&:nth-child(1) {
			max-width: 34%;
			background-image: url('../images/rules/rule-bg-1.png');
			background-size: 100% 100%;
			@media (max-width: 980px) {
				max-width: 50%;
			}
			@media (max-width: 580px) {
				max-width: 80%;
				margin-right: auto;
			}

			&::before {
				content: '';
				position: absolute;
				background-image: url('../images/rules/decorations/rule-red-1.svg');
				width: 17px;
				height: 18px;
				left: 20%;
				bottom: -25%;
			}

			&::after {
				content: '';
				position: absolute;
				background-image: url('../images/rules/decorations/rule-yellow-1.svg');
				width: 36px;
				height: 39px;
				top: -70%;
				right: 7%;

				@media (max-width: 1440px) {
					top: -40%;
					right: 20%;
				}

				@media (max-width: 500px) {
					top: 10%;
					right: -7%;
					z-index: -1;
				}
			}
		}

		&:nth-child(2) {
			background-image: url('../images/rules/rule-bg-2.png');
			background-size: 100% 100%;

			@media (max-width: 580px) {
				max-width: 75%;
			}
		}

		&:nth-child(3) {
			max-width: 30%;
			background-image: url('../images/rules/rule-bg-3.png');
			background-size: 100% 100%;

			margin-bottom: 1.875rem;
			@media (max-width: 980px) {
			max-width: 70%;
			}
			@media (max-width: 580px) {
				max-width: 95%;
			}

			&::before {
				content: '';
				position: absolute;
				background-image: url('../images/rules/decorations/rule-yellow-2.svg');
				width: 21px;
				height: 23px;
				right: 20%;
				top: -20%;

				@media (max-width: 500px) {
					right: -4%;
					top: 94%;
				}
			}

			&::after {
				content: '';
				position: absolute;
				background-image: url('../images/rules/decorations/fireworks.svg');
				background-size: 100%;
				width: 61px;
				height: 61px;
				right: -5%;
				top: -8%;

				@media (max-width: 500px) {
					top: -18%;
				}
			}

			.rules__place {
				top: -15%;
				@media (max-width: 980px) {
					top: -8%;
				}
				@media (max-width: 500px) {
					top: -20%;
				}
			}
		}
	}
	&__button {
		font-size: 1.125rem;
		line-height: 1.25rem;
		padding: 0.9375rem 1.375rem;
		margin-left: 20%;
	}
}
