$white: #ffffff;
$orange: #ff7100;
$green: #0ab430;
$black: #000000;
$red: #d11217;

@import '../fonts/stylesheet.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

$main-font: 'Blogger Sans', sans-serif;

@mixin innerImg {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: contain;
	object-position: center;
}

@mixin absoluteCentred {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	height: fit-content;
}

@mixin ubuntu {
	font-family: 'Ubuntu', sans-serif;
}
