* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	border: 0;
	outline: none;
	list-style: none;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: inherit;
}
@import "reset";
@import "vars";

html {
	@media (max-width: 500px) {
		width: 100%;
		max-width: 100%;
		overflow-x: hidden;
	}
}
.app{
	overflow: hidden;
}
body {
	font-family: $main-font;
	max-width: 100%;
	@media (max-width: 500px) {
		width: 100%;
	}
}

.container {
	max-width: 1192px;
	margin: 0 auto;
	padding: 0 11px;

	@media (min-width: 1440px) {
		max-width: 1462px;
		margin: auto;
	}
	@media (max-width: 1280px) {
		max-width: 90%;

	}
}

.text {
	font-size: 1.125rem;
	line-height: 2;
	@media screen and (max-width: 1280px) {
		font-size: 0.9rem;
	}
	&-italic {
		font-style: italic;
	}
	&-centered {
		text-align: center;
	}
	&-white {
		color: $white;
	}
	&-black {
		color: $black;
	}
	&-bold {
		font-weight: bold;
	}
	&-orange {
		color: $orange;
	}
	&-green {
		color: $green;
	}
	&-uppercase {
		text-transform: uppercase;
	}
	&-underlined {
		text-decoration: underline;
	}
}

.title {
	font-size: 3.25rem;
	line-height: 1.1;
}

.row {
	display: flex;
	justify-content: space-between;
}

.button {
	cursor: pointer;
	text-transform: uppercase;
	color: $white;
	background: linear-gradient(180deg, #ff9900 0%, #ff7100 100%);
	box-shadow: 1px 2px 0px #df6300, 3px 8px 10px rgba(49, 24, 16, 0.25), inset -1px -2px 8px #e76100;
	border-radius: 10px;
	transition: all 0.3s;
	display: block;
	padding: 10px 1rem;
	text-align: center;
	width: fit-content;

	&:hover {
		background: linear-gradient(180deg, #ff9900 0%, #ff7100 100%);
		box-shadow: 1px 2px 0px #df6300, inset -1px -2px 8px #e76100;
	}
}

@import "header";
@import "rules";
@import "prizes";
@import "benefits";
@import "qr";
@import "results";
@import "footer";
