@font-face {
    font-family: 'Blogger Sans';
    src: url('BloggerSans-BoldItalic.eot');
    src: local('Blogger Sans Bold Italic'), local('BloggerSans-BoldItalic'),
        url('BloggerSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BloggerSans-BoldItalic.woff2') format('woff2'),
        url('BloggerSans-BoldItalic.woff') format('woff'),
        url('BloggerSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Blogger Sans';
    src: url('BloggerSans-Bold.eot');
    src: local('Blogger Sans Bold'), local('BloggerSans-Bold'),
        url('BloggerSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('BloggerSans-Bold.woff2') format('woff2'),
        url('BloggerSans-Bold.woff') format('woff'),
        url('BloggerSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Blogger Sans';
    src: url('BloggerSans.eot');
    src: local('Blogger Sans'), local('BloggerSans'),
        url('BloggerSans.eot?#iefix') format('embedded-opentype'),
        url('BloggerSans.woff2') format('woff2'),
        url('BloggerSans.woff') format('woff'),
        url('BloggerSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
